img.project {
  width: 100px;
  height: 100px;
  border: 1px solid #D9D9D9;
}

div.project {
  padding-top: 0px;
  padding-bottom: 30px;
}

div.project-description {
  padding-top: 5px;
}

a.image-link {
  display: block;
  padding-bottom: 5px;
  border-bottom: 0px;
}
